<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8081/home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <h1>About Our Online Shop</h1>
  <p>Welcome to Your Online Shop! We are your one-stop destination for a wide range of products and services.</p>
  <p>Our mission is to provide a seamless online shopping experience, offering a diverse selection of high-quality products at competitive prices.</p>
  <p>At Your Online Shop, we prioritize customer satisfaction and strive to exceed your expectations with every purchase. Our dedicated team is here to assist you in finding the perfect products for your needs.</p>
  <p>Thank you for choosing Your Online Shop as your trusted online retailer. We look forward to serving you and making your shopping experience exceptional.</p>
</div>


<!-- Bootstrap JavaScript Library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-rw7I5f3G5V8IB5f5zVxmFf5w5dct4e1fWBO7c5gQn5Mq4l0F8p9QV6gOzCcB9RjS" crossorigin="anonymous"></script>

</body>
</html>
