<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/ja/bootstrap.min.js"></script>

</head>
<!--
<style>
    table,th,div{
        color: black;
        text-align: center;
        border-collapse: separate;
        border-spacing: 2px;
    }
</style>

    <div class="container my-3">
        <h1>Product List</h1>

        <form th:action="@{/index}">
            Filter: <input type="text" name="keyword" id="keyword" size="15"
                    th:value="${keyword}" required /> &nbsp;
                    <input type="submit"
                    value="Search" /> &nbsp;
                    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>

                    <script type="text/javascript">
                        function clearSearch(){
                            window.location = "[[@{/}]]";
                        }
                    </script>

        </form>

    <br>

        <div><a th:href="@{/showNewProductForm}" class="btn btn-primary btn-sm mb-3">Add New Product</a></div>

        <table border="1" class="table table-hover">
            <thead>
                <tr class="active">
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Marke</th>
                    <th>Size</th>
                    <th>Photo</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProduct}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.marke}"></td>
                    <td th:text="${product.size}"></td>

                    <td><img th:src="${product.photosImagePath}" class="img-round" alt="No pic" width="100" height="60" />
                    <td><a th:href="@{/showFormForUpdate/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
                    <td><a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            </tbody>

        </table>

        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-100"> Total Rows: [[${totalItems}]]</div>

                <div class="col-sm-100">

                    <a th:if="${currentPage < totalPages}"
                            th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} +  '&sortDir=' + ${sortDir} }">[[${i}]]</a>
                        <span th:if="${currentPage != i}">[[${i}]]</span>
                        </span>
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page' + ${totalPages} + '?sortField=' + ${sortField} +  '&sortDir=' + ${sortDir} }">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>

                </div>
            </div>

        </div>

    </div>

-->
<body>

</body>
</html>
